@import '../variables.less';

.code-viewer {
    position: relative;
    height: 100%;
    overflow: hidden;

    .error {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;

        min-height: 20%;
        max-height: 80%;
        padding: 20px 35px;
        background-color: fade(@primary-tint-1, 88%);

        display: flex;
        flex-direction: column;

        .error-header {
            margin-bottom: 10px;

            span {
                font-size: 18px;
                font-weight: @bold-font-weight;
                line-height: 1.22;
                color: @primary-tint-2;
            }

            .btn-error-close {
                .btn-title-common;
                .icon-btn-variant(@primary-tint-2);

                float: right;
            }
        }

        .error-msg {
            color: @primary-tint-3;
            line-height: 1.63;
            font-size: 16px;
            white-space: pre;
            overflow: auto;
        }
    }
}

// For the select and input elements in the modal header
.blue-header-element {
    background-color: fade(@primary-tint-3, 40%);
    border: solid 1px fade(@primary-tint-2, 40%);
    border-radius: 2px;
}

.editor-pane {
    height: 100%;
    display: flex;
    flex-direction: column;

    .language-selection {
        flex: 0 0 auto;

        padding: 5px 0px 5px 60px;
        min-height: 45px;
        border-bottom: solid 1px fade(@primary-tint-2, 20%);
        margin-bottom: 15px;

        overflow-x: hidden;

        .lang-label {
            color: fade(@primary-tint-2, 63%);
            font-size: 16px;

            margin-right: 20px;
        }

        select {
            .blue-header-element;

            font-family: @monospace-font;
            font-size: 12px;
            font-weight: bold;
            color: @primary;

            width: 256px;
            padding: 8px 0px 8px 15px;
        }
    }

    .uast-editor {
        height: 100%;
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;

        .react-codemirror2 {
            height: 100%;
            flex: 1 1 auto;

            display: flex;
            flex-direction: column;

            .CodeMirror {
                flex: 1 1 auto;
            }
        }
    }
}

.uast-viewer-pane {
    display: flex;
    flex-direction: column;
    height: 100%;

    .show-locations-wrapper {
        flex: 0 0 auto;

        min-height: 45px;
        padding: 5px 0px 5px 20px;
        background: @primary-tint-4;
        border-bottom: solid 1px fade(@primary-tint-2, 50%);

        font-size: 14px;

        label {
            font-weight: normal;
            margin-right: 40px;

            span {
                margin-left: 10px;
            }

            &:last-of-type {
                margin-right: 10px;
            }
        }

        input {
            .blue-header-element;

            font-family: @monospace-font;
        }
    }

    .uast-query-wrapper {
        flex: 0 0 auto;

        background: @primary-tint-4;
        padding: 10px 15px 10px 20px;
        overflow: hidden;

        form {
            display: flex;

            input {
                .blue-header-element;

                flex: 1 1 auto;
                min-width: 25px;

                color: @primary-tint-1;
                font-family: @monospace-font;
                font-size: 14px;
                font-weight: bold;
            }

            button {
                margin-left: 15px;
            }
        }
    }

    .uast-viewer {
        flex: 1 1 auto;
    }
}

.code-toggler {
    margin-left: 40px;

    .switch-text {
        font-size: 18px;
        font-weight: @btn-font-weight;
    }

    .switch-text.checked {
        color: @btn-gbpl-tertiary-color;
        padding-left: 28px;
    }

    .switch-text.unchecked {
        color: #979797;
        margin-left: -29px;
    }

    &.checked {
        .react-switch-bg {
            background: @tertiary !important;
        }
    }

    &.unchecked {
        .react-switch-bg {
            background: #e1e1e1 !important;
        }
    }
}
