@import '../variables.less';

.query-box-padding {
    padding: @small-spacing;
}

.query-box {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    border: solid 1px @primary;
    background-color: @query-results-block;

    .codemirror-row {
        flex-grow: 1;
        display: flex;
        overflow: hidden;
        padding-top: 22px;
        padding-left: @big-spacing;
    }

    .button-row {
        flex: 0 0;
        border-top: solid 1px @primary-tint-3;
        padding: @small-spacing @big-spacing;
        margin: 0;

        .buttons-wrapper {
            text-align: right;
        }

        button.run-query {
            padding-left: 35px;
            padding-right: 35px;
            margin-left: @big-spacing;
        }
    }

    .codemirror-col {
        flex: 1 1 auto;
    }

    .react-codemirror2 {
        height: 100%;
    }

    .CodeMirror {
        height: 100%;
        font-family: @monospace-font;
        font-size: 12px;
        font-weight: bold;

        .CodeMirror-gutters {
            border-right: 0;
            background-color: @query-results-block;
        }
    }

    .CodeMirror-empty {
        color: @gray-light;
    }

    .help-button {
        position: absolute;
        top: -6px;
        right: 30px;
        z-index: 10;

        background: #fff;
        border: 0;
        border-radius: 0;
        box-shadow: 0 0 10px 10px #fff;

        &:hover {
            background: #fff;
        }

        > svg {
            margin-right: 8px;
        }
    }
}
