@import '../variables.less';

.schema-table {
    .name {
        color: @primary;
        > span {
            cursor: pointer;
            &:hover {
                color: darken(@primary, 10%);
            }
        }

        .small-icon {
            cursor: pointer;
            .icon-btn-variant(@primary-tint-2);
        }
    }

    .columns {
        margin-left: @big-spacing;
    }
}
