.sidebar {
    display: flex;
    flex-direction: column;

    min-height: 100%;

    .header {
        display: flex;
        flex: 0 0 24px;

        margin: 0 0 10px 0;
        padding: 0 0 10px 0;

        border-bottom: 1px solid #000;

        h3 {
            width: 100%;

            margin: 0;
            padding: 0;

            font-size: 16px;
            font-weight: normal;
        }

        .glyphicon {
            cursor: pointer;
        }
    }

    .main {
        flex: 1 1;
        margin-bottom: 10px;
    }

    .footer {
        flex: 0 0;

        display: flex;
        justify-content: space-between;
    }

    .SplitPane .Resizer {
        margin: 0;
    }

    &.collapsed {
        .header > h3,
        .main,
        .footer {
            display: none;
        }

        .header {
            border-bottom: 0;
        }
    }
}
