@import '../variables.less';

.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 290px;

    padding-top: 10px;
    padding-bottom: @big-spacing;
    margin-bottom: 0px;
    min-height: 100%;
    background-color: @primary-tint-3;
    border-right: solid 1px @primary-tint-2;

    .header {
        display: flex;
        flex: 0 0 auto;

        margin: 0;
        padding: @big-spacing 0 @big-spacing @big-spacing;

        color: @primary-tint-2;

        h3 {
            font-size: 16px;
            font-weight: @bold-font-weight;

            width: 100%;
            margin: 0;
        }

        .big-icon {
            cursor: pointer;
            margin-right: @big-spacing;

            .icon-btn-variant(@primary-tint-2);
        }
    }

    .list {
        line-height: 1.75;

        .small-icon {
            margin-right: @small-spacing;
        }
    }

    .main {
        flex: 1 1;
        overflow: hidden;
        margin-bottom: @small-spacing;
    }

    .footer {
        font-weight: @bold-font-weight;
        padding-left: @big-spacing;

        a {
            .icon-container-variant(@primary-tint-2);
        }
    }

    .SplitPane {
        .Resizer {
            background-color: @primary-tint-3;
        }

        .Pane1 {
            padding-left: @big-spacing;
        }
    }

    &.collapsed {
        .header > h3,
        .main,
        .footer {
            display: none;
        }

        .header .big-icon {
            transform: scaleX(-1);
        }
    }
}
