@import '../variables.less';

.results-padding {
    padding: @small-spacing;
}

.edit {
    font-size: 14px;
    line-height: 24px;
}

#tabbed-results {
    display: flex;
    flex-direction: column;
}

.tab-content {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;

    background-color: @query-results-block;
    border: solid 1px @primary;
    border-top: 0px;

    > .tab-pane {
        flex: 1 1 auto;
        padding: @big-spacing;

        &[aria-hidden='false'] {
            display: flex;
            flex-direction: column;
        }
    }
}

.query-row {
    margin-bottom: 2em;

    .query-text {
        white-space: pre;
        font-family: @monospace-font;
        color: @secondary-tint-2;
        float: left;
        max-width: 85%;
        overflow: auto;
    }
}

button.edit-query {
    width: auto;
    float: left;
    padding-top: 0px;
    margin-left: 1ex;
    border-top: 0px;
}

.tab-title {
    width: 150px;
    height: @btn-title-size;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-family: @monospace-font;
    font-weight: @bold-font-weight;
}

.nav-tabs {
    > li:last-child {
        float: right;
    }
}

.btn-history {
    margin-left: 0 !important;
    margin-right: 1ex !important;
    cursor: default !important;
    opacity: unset !important;
}
