@import './variables.less';

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    max-height: 100%;
    min-height: 500px;
    background-color: @primary-tint-4;
    font-family: @regular-font;
    font-size: 13px;
    line-height: normal;
    color: @primary;
}

.app {
    height: 100%;

    .app-grid {
        padding-left: 0;
    }
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.main-row {
    display: flex;
}

.no-spacing {
    padding: 0;
    margin: 0;
}

.query-box-row {
    .full-height;
}

.results-row {
    .full-height;
}

// react-split-pane
.SplitPane {
    position: relative !important;

    .Pane {
        overflow: auto;
    }

    .Resizer {
        border-top: solid 1px @primary-tint-2;
        border-bottom: solid 1px @primary-tint-2;
        background-color: @query-results-block;

        cursor: row-resize;

        &:before {
            display: block;
            content: '● ● ●';
            text-align: center;
            line-height: 13px;
            font-size: 8px;
        }
    }

    &.main-split {
        min-width: 700px;
    }
}

// make modal window "fullscreen"
// margins are hard-coded in bootstrap, so it's hard-coded here too
.modal-body {
    height: ~'calc(100vh - 150px)';

    .uast-editor,
    .react-codemirror2,
    .CodeMirror {
        height: 100%;
    }

    .uast-viewer {
        height: 100%;
        overflow-y: auto;
    }
}

@media (min-width: @screen-sm-min) {
    .modal-body {
        max-height: ~'calc(100vh - 120px)';
    }
}

.uast-editor .CodeMirror {
    font-family: @monospace-font;
    font-size: 16px;
    line-height: 1.38;

    .CodeMirror-gutters {
        background-color: @primary-tint-4;
        border-right: 0;
    }

    .CodeMirror-linenumber {
        opacity: 0.6;
        color: @primary-tint-2;
    }
}

@uast-black: #0f2434;

.uast-viewer {
    height: 100%;
    overflow-y: auto;

    font-family: @regular-font;
    font-size: 16px;
    line-height: 22px;

    .uast-title-collapsible::before,
    .uast-title-collapsible.collapsed::before {
        color: @secondary-tint-2;
    }

    .uast-label,
    .uast-property-name::after {
        color: @primary;
        font-family: @regular-font;
    }

    .uast-property-name {
        color: @uast-black;
    }

    .uast-title-collapsible:hover > span {
        border-bottom: 1px dashed @uast-black;
    }

    .uast-title-collapsible.collapsed {
        background-color: fade(@primary, 4%);
    }

    .uast-value.string {
        color: @secondary-tint-2;
        font-weight: bold;
    }

    .uast-content {
        border-left: 1px solid fade(@primary-tint-2, 50%);
    }

    .uast-item.hovered {
        background-color: fade(@secondary, 7%)
    }
}
